@import "../Mixin/mixin";
@import "../Variable/variable";

#footer_part{
    .upper_part{
        background: #222132;
        padding: 84px 0;
    }
    h2{
        @include font(#fff, ' Raleway',   39px, normal, 800, 110%);
        padding-bottom: 22px;
    }
    .pp{
        @include font(#C5C5D2, ' Raleway',   16px, normal, 400, 145%);
        width: 397px;
    }
    h3{
        @include font($primary_color, 'Oxanium', 18px, normal, 700, normal);
        padding-bottom: 13px;
    }
    input{
        width: 370px;
        outline: 0;
        margin-bottom: 16px;
        background: transparent;
        border: 2px solid #C5C5D2;
        border-radius: 8px;
        @include font(#9291A1, 'Raleway',  16px, normal, 400, 120%);
        padding: 15px 18px;
        margin-right: 16px
    }
    button{
        @include button();
        @include font($primary_color, 'Oxanium', 20px, normal, 700, normal);
        background: transparent;
        padding: 12px 20px;
        border: 1px solid $primary_color;
        border-radius: 5px;
        transition: all linear .4s;
        &:hover{
            background: $primary_color;
            color:#fff;
        }
    }
    .lower_part{
        background: #2F2E41;
        padding: 50px 0 56px;
    }
    .p1{
        @include font(#C5C5D2, ' Raleway',   16px, normal, 600, 110%);
        padding-top: 18px;
        width: 190px;
    }
    h6{
        @include font(#fff, 'Oxanium', 20px, normal, 700, normal);
        padding-bottom: 22px;
    }
    .details{
        display: flex;
        justify-content: space-between;
    }
    .p2{
        @include font(#9291A1, ' Raleway',   16px, normal, 600, 110%);
        padding-top: 9px;
    }
    .copy_part{
        background: #222132;
    }
    .p3{
        @include font(#E0DEDE, ' Raleway',   13px, normal, 500, normal);
        padding:31px 0 31px 0; 
    }
    span{
        color: $primary_color;
        font-weight: 800;
    }
    
}