@import "../Mixin/mixin";
@import "../Variable/variable";

#video_part{
    padding-bottom: 176px;
    .image{ 
        width: 100%;
        position: relative;
        border-radius: 16px;
        overflow: hidden;
    }
    img{
        width: 100%;
    }
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(10, 9, 13, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 131px 0 168px;
    }
    i{
        @include icon(97px, 97px, center, 97px, #fff, 45px);
        border: 3px solid $primary_color;
        background: transparent;
        border-radius: 50%;
        margin-bottom: 34px;
        transition: all linear .4s;
        &:hover{
            background-color: $primary_color;
        }
    }
    h4{
        @include font($primary_color, 'Oxanium', 31.25px, normal, 700, 120%);
        padding-bottom: 28px
    }
    p{
        @include font(#fff, 'Raleway', 25px, normal, 400, 120%);
        width: 673px;
        text-align: center;
    }
}